In [6]:
import pandas as pd
import numpy as np
import os
path = os.getcwd()

In [23]:
dfVertimentos = pd.read_csv(path + '/' + 'dfFinalVertimientos_2004-2021.csv')

print(dfVertimentos.shape)
print(dfVertimentos.columns.tolist())
dfVertimentos.head()

(9615, 5)
['Fecha', 'RegionHidrologica', 'NombreEmbalse', 'VertimientosVolumenMilesM', 'VertimientosEnergiaKwh']

,Fecha,RegionHidrologica,NombreEmbalse,VertimientosVolumenMilesM,VertimientosEnergiaKwh
0,2004-01-02,CENTRO,AGREGADO BOGOTA,11.40,57305.26666
1,2004-01-03,CENTRO,AGREGADO BOGOTA,14.26,71681.85111
2,2004-01-04,CENTRO,AGREGADO BOGOTA,14.86,74697.91777
3,2004-01-05,CENTRO,AGREGADO BOGOTA,14.34,72083.99333
4,2004-01-06,CENTRO,AGREGADO BOGOTA,15.29,76859.43222

In [24]:
dfAportes = pd.read_csv(path + '/' + 'dfFinalAportes_2004-2021.csv')

print(dfAportes.shape)
print(dfAportes.columns.tolist())
dfAportes.head()

(180554, 6)
['Fecha', 'RegionHidrologica', 'NombreRio', 'AportesCaudalm3s', 'AportesEnergiaKwh', 'AportesPerc']

,Fecha,RegionHidrologica,NombreRio,AportesCaudalm3s,AportesEnergiaKwh,AportesPerc
0,2004-01-01,ANTIOQUIA,A. SAN LORENZO,17.56,3910000.0,0.722736
1,2004-01-01,ANTIOQUIA,CONCEPCION,6.15,1385300.0,1.236875
2,2004-01-01,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700.0,1.471257
3,2004-01-01,ANTIOQUIA,GRANDE,18.65,4563500.0,0.792274
4,2004-01-01,ANTIOQUIA,GUADALUPE,11.28,2540900.0,0.801546

In [25]:
dfReservas = pd.read_csv(path + '/' + 'dfFinalReservas_2004-2021.csv')

print(dfReservas.shape)
print(dfReservas.columns.tolist())
dfReservas.head()

(140349, 9)
['Fecha', 'RegionHidrologica', 'NombreEmbalse', 'VolumenUtilDiarioMm3', 'VolumenUtilDiarioEnergiaKwh', 'VolumenUtilDiarioPerc', 'VolumenMm3', 'VolumenEnergiaKwh', 'VolumenPerc']

,Fecha,RegionHidrologica,NombreEmbalse,VolumenUtilDiarioMm3,VolumenUtilDiarioEnergiaKwh,VolumenUtilDiarioPerc,VolumenMm3,VolumenEnergiaKwh,VolumenPerc
0,2004-01-01,ANTIOQUIA,AMANI,242.710,1.228355e+08,0.570680,290.690,1.471182e+08,0.614203
1,2004-01-01,ANTIOQUIA,MIRAFLORES,93.828,2.446284e+08,0.984347,99.548,2.595415e+08,0.985233
2,2004-01-01,ANTIOQUIA,PENOL,995.587,4.033621e+09,0.995657,1065.867,4.318360e+09,0.995942
3,2004-01-01,ANTIOQUIA,PLAYAS,34.235,6.547444e+07,0.675380,51.845,9.915360e+07,0.759078
4,2004-01-01,ANTIOQUIA,PORCE II,59.193,3.437929e+07,0.615440,112.383,6.527200e+07,0.752379

In [26]:
df.shape

(9615, 5)

In [27]:
merged_df = pd.merge(dfVertimentos, dfReservas, on=['Fecha', 'RegionHidrologica', 'NombreEmbalse'], how='outer')

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140429 entries, 0 to 140428
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Fecha                        140429 non-null  object
 1   RegionHidrologica            140429 non-null  object
 2   NombreEmbalse                140429 non-null  object
 3   VertimientosVolumenMilesM    9615 non-null    float64
 4   VertimientosEnergiaKwh       9615 non-null    float64
 5   VolumenUtilDiarioMm3         140349 non-null  float64
 6   VolumenUtilDiarioEnergiaKwh  140349 non-null  float64
 7   VolumenUtilDiarioPerc        140349 non-null  float64
 8   VolumenMm3                   140349 non-null  float64
 9   VolumenEnergiaKwh            140349 non-null  float64
 10  VolumenPerc                  140349 non-null  float64
dtypes: float64(8), object(3)
memory usage: 11.8+ MB

In [31]:
final_df = pd.merge(merged_df, dfAportes, on=['Fecha', 'RegionHidrologica'], how='outer')

In [32]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138244 entries, 0 to 1138243
Data columns (total 15 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Fecha                        1138244 non-null  object
 1   RegionHidrologica            1138244 non-null  object
 2   NombreEmbalse                1131669 non-null  object
 3   VertimientosVolumenMilesM    96146 non-null    float64
 4   VertimientosEnergiaKwh       96146 non-null    float64
 5   VolumenUtilDiarioMm3         1130745 non-null  float64
 6   VolumenUtilDiarioEnergiaKwh  1130745 non-null  float64
 7   VolumenUtilDiarioPerc        1130745 non-null  float64
 8   VolumenMm3                   1130745 non-null  float64
 9   VolumenEnergiaKwh            1130745 non-null  float64
 10  VolumenPerc                  1130745 non-null  float64
 11  NombreRio                    1138244 non-null  object
 12  AportesCaudalm3s             1138244 non-null  float64
 13  AportesEnergiaKwh            1138244 non-null  float64
 14  AportesPerc                  1138244 non-null  float64
dtypes: float64(11), object(4)
memory usage: 130.3+ MB

In [21]:
final_df.shape

(1138244, 15)

In [22]:
final_df.to_csv('dfEnergiaV1.csv', encoding='utf-8', index=False)