In [56]:
import pandas as pd
import os

In [58]:
path = os.getcwd()
df = pd.read_excel(path + '/' + 'Vertimentos_Diario_2004.xlsx')
df.columns = df.iloc[2]
#df = df.drop([df.columns[0]], axis=1)
df = df.drop([0, 1, 2], axis=0)
"""
# Reset index and clean column names
df = df.reset_index(drop=True)
df = df.rename(columns={
    'Region Hidrologica': 'RegionHidrologica', 
    'Nombre Embalse': 'NombreEmbalse',
    'Volumen Útil Diario Mm3': 'VolumenUtilDiarioMm3',
    'Volumen Útil Diario Energía kWh': 'VolumenUtilDiarioEnergiaKwh',
    'Volumen Útil Díario %': 'VolumenUtilDiarioPerc',
    'Volumen Mm3':'VolumenMm3',
    'Volumen Energía kWh':'VolumenEnergiaKwh',
    'Volumen %':'VolumenPerc'
    
})
"""
print(df.shape)

(680, 5)

In [59]:
print(df["Fecha"].unique().shape)

(344,)

In [55]:
path = os.getcwd()
def limpiarDataset():
    # Initialize an empty list to store DataFrames instead of creating a DataFrame with columns
    dfs = []
    
    fileName = 'Vertimentos_Diario_20'
    for i in range(4, 22):
        # Create year string
        anyo = f'{i:02d}'  # This handles both single and double-digit years
        
        fullName = fileName + anyo + ".xlsx"
        print("Limpiando:", fullName)
        
        # Read Excel file
        df = pd.read_excel(path + '/' + fullName)
        
        # Clean columns
        df.columns = df.iloc[2]
        #df = df.drop([df.columns[0]], axis=1)
        df = df.drop([0, 1, 2], axis=0)
        
        # Reset index and clean column names
        df = df.reset_index(drop=True)
        df = df.rename(columns={
            'Region Hidrologica': 'RegionHidrologica', 
            'Nombre Embalse': 'NombreEmbalse',
            df.columns[-2::-1][0]: 'VertimientosVolumenMilesM',
            df.columns[-1::-1][0]: 'VertimientosEnergiaKwh',
        })
        
        # Convert data types and handle missing values
        df['Fecha'] = pd.to_datetime(df['Fecha'])
        
        # Fill missing values with mean
        numeric_columns = df.columns[:-3:-1].tolist()
        for col in numeric_columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].fillna(df[col].mean())
        
        # Ensure correct column types
        df = df.astype({
            'RegionHidrologica': str,
            'NombreEmbalse': str,
            'VertimientosVolumenMilesM': float, 
            'VertimientosEnergiaKwh': float
        })
        
        # Append to list of DataFrames
        dfs.append(df)
    
    # Concatenate all DataFrames at once
    dfFinal = pd.concat(dfs, ignore_index=True)
    
    # Save to CSV
    dfFinal.to_csv('dfFinalVertimientos.csv', encoding='utf-8', index=False)
    
    return dfFinal

limpiarDataset()

Limpiando: Vertimentos_Diario_2004.xlsx
Limpiando: Vertimentos_Diario_2005.xlsx
Limpiando: Vertimentos_Diario_2006.xlsx
Limpiando: Vertimentos_Diario_2007.xlsx
Limpiando: Vertimentos_Diario_2008.xlsx
Limpiando: Vertimentos_Diario_2009.xlsx
Limpiando: Vertimentos_Diario_2010.xlsx
Limpiando: Vertimentos_Diario_2011.xlsx
Limpiando: Vertimentos_Diario_2012.xlsx
Limpiando: Vertimentos_Diario_2013.xlsx
Limpiando: Vertimentos_Diario_2014.xlsx
Limpiando: Vertimentos_Diario_2015.xlsx
Limpiando: Vertimentos_Diario_2016.xlsx
Limpiando: Vertimentos_Diario_2017.xlsx
Limpiando: Vertimentos_Diario_2018.xlsx
Limpiando: Vertimentos_Diario_2019.xlsx
Limpiando: Vertimentos_Diario_2020.xlsx
Limpiando: Vertimentos_Diario_2021.xlsx

2,Fecha,RegionHidrologica,NombreEmbalse,VertimientosVolumenMilesM,VertimientosEnergiaKwh
0,2004-01-02,CENTRO,AGREGADO BOGOTA,11.400,57305.26666
1,2004-01-03,CENTRO,AGREGADO BOGOTA,14.260,71681.85111
2,2004-01-04,CENTRO,AGREGADO BOGOTA,14.860,74697.91777
3,2004-01-05,CENTRO,AGREGADO BOGOTA,14.340,72083.99333
4,2004-01-06,CENTRO,AGREGADO BOGOTA,15.290,76859.43222
...,...,...,...,...,...
9610,2021-12-20,ANTIOQUIA,PENOL,2.851,3686.58058
9611,2021-12-22,ANTIOQUIA,AMANI,796.608,427380.19200
9612,2021-12-23,ANTIOQUIA,AMANI,1151.712,617893.48800
9613,2021-12-24,ANTIOQUIA,AMANI,94.176,50525.42400
9614,2021-12-27,ANTIOQUIA,AMANI,75.168,40327.63200